{% extends 'base.html.twig' %}

{% block title %}Sitemap{% endblock %}
{% block description %}Accédez au sitemap d’Assurance Genevoise à Genève et trouvez facilement toutes nos pages dédiées à vos solutions d’assurance en Suisse.{% endblock %}
{% block url %}{{ path('app_site_map') }}{% endblock %}

{% block ogImage %}{{ asset('media/website/assurance-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Assurance Genevoise, Sitemap{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Liens</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Sitemap</h1>
            </div>
            <div class="mt-12 lg:mt-16 space-y-10">
                <div>
                    <h2 class="text-2xl font-semibold">Générale</h2>
                    <ul class="mt-6 space-y-2 list-disc ml-8">
                        <li class="text-lg"><a href="{{ path('app_home') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Accueil</a></li>
                        <li class="text-lg"><a href="{{ path('app_booking') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Se faire rappeler</a></li>
                        <li class="text-lg"><a href="{{ path('app_assistance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Sinistre et Assistance</a></li>
                        <li class="text-lg"><a href="{{ path('app_login') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Mon compte client</a></li>
                        <li class="text-lg"><a href="{{ path('app_contact') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Contactez-nous</a></li>
                        <li class="text-lg"><a href="{{ path('app_faq') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">FAQ</a></li>
                        <li class="text-lg"><a href="{{ path('app_legal_notice') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Mentions légales</a></li>
                        <li class="text-lg"><a href="{{ path('app_personal_data') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Données personnelles</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Professionnel</h2>
                    <ul class="mt-6 space-y-2 list-disc ml-8">
                        <li class="text-lg"><a href="{{ path('app_pro_offer_company') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Entreprise</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_company_property_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance chose et patrimoine</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_company_group_contract') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Contrat collectif et perte de gain</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_company_accident_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">L'assurance-accident LAA</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_company_professional_provision') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Prévoyance professionnel et LPP</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_company_guarantees') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Caution et garanties</a></li>
                        <li class="text-lg"><a href="{{ path('app_pro_offer_international') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">International</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_international_health_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance maladie internationale</a></li>
                            <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_international_solution') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Solution internationale avec nos partenaires</a></li>
                        <li class="text-lg"><a href="{{ path('app_pro_offer_liberal_profession') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Profession libérale</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_pro_offer_liberal_profession_professional_services') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Services professionnels</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Particulier</h2>
                    <ul class="mt-6 space-y-2 list-disc ml-8">
                        <li class="text-lg"><a href="{{ path('app_individual_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_property') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance de chose et de patrimoine</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_household_liability') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance RC ménage</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_animals') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance animaux</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_motor_vehicle') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance véhicule à moteur</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_legal_protection') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance protection juridique</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_domestic_worker') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance employé de maison</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_travel') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance voyage</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_insurance_building_liability') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Assurance RC immeuble et bâtiment</a></li>
                        <li class="text-lg"><a href="{{ path('app_individual_health') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Santé</a></li>
                        <li class="text-lg"><a href="{{ path('app_individual_health_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Prévoyance</a></li>
                        <li class="text-lg"><a href="{{ path('app_individual_mortgage') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Hypothéque</a></li>
                        <li class="text-lg"><a href="{{ path('app_individual_taxation') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Fiscalité</a></li>
                        <li class="text-lg"><a href="{{ path('app_individual_offer_border') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Frontalier</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_offer_border_health_insurance') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Prévoyance</a></li>
                        <li class="ml-8 text-lg"><a href="{{ path('app_individual_offer_border_health') }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">Santé</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Blog</h2>
                    <ul class="mt-6 space-y-2 list-disc ml-8">
                        {% for post in blogPosts %}
                            <li class="text-lg">
                                <a href="{{ path('app_blog_post', {'slug': post.slug }) }}" class="font-secondary text-gray-800 hover:text-gray-600 transition duration-100">
                                    {{ post.title }}
                                </a>
                                <time datetime="{{ post.createdAt | date('d F Y') }}" class="capitalize text-gray-400 text-base">{{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}