{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="max-w-7xl bg-cover bg-center mx-auto rounded-3xl" style="background-image: url('{{ asset('media/site/3.jpg') }}')">
        <div class="lex min-h-full flex-col justify-center px-12 py-24 lg:px-8 bg-gray-800 bg-opacity-80 rounded-3xl">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-7 w-auto" src="{{ asset('media/logo/logo_white.png') }}" alt="Logo de Assurance Genevoise à Genève">
                <h2 class="mt-8 text-center text-2xl font-semibold leading-9 tracking-tight text-white">Connexion à votre espace client</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" action="#" method="POST">
                    {% if error %}
                        <div class="rounded-md bg-red-50 p-4">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <p class="text-sm font-medium text-red-800">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-white">Adresse email</label>
                        <div class="mt-2">
                            <input value="{{ last_username }}" name="_username" id="email"  type="email" autocomplete="email" required autofocus class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center">
                            <label for="password" class="block text-sm font-medium leading-6 text-white">Mot de passe</label>
                        </div>
                        <div class="mt-2">
                            <input  type="password" name="_password" id="password" autocomplete="current-password" required class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-full bg-primary px-3.5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-light transition duration-100">Se connecter</button>
                    </div>
                </form>

                <p class="mt-10 text-center text-sm text-gray-200">
                    Pas encore client ?
                    <a href="{{ path('app_contact') }}" class="font-medium leading-6 text-white hover:text-gray-200">Contactez-nous</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
