{% extends 'base.html.twig' %}

{% block title %}Solutions Hypothécaires pour Particuliers en Suisse{% endblock %}
{% block description %}Trouvez l’hypothèque idéale avec Assurance Genevoise. Profitez de solutions sur mesure pour financer votre bien immobilier en Suisse ou à l’international.{% endblock %}
{% block url %}{{ path('app_individual_mortgage') }}{% endblock %}

{% block ogImage %}{{ asset('media/website/assurance-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Assurance Genevoise, solutions hypothécaires pour particuliers en Suisse{% endblock %}

{% block body %}
    <section class="relative z-40">
        <div class="mx-auto max-w-7xl">
            <div class="relative z-10 lg:w-full lg:max-w-2xl">
                <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <polygon points="0,0 90,0 50,100 0,100" />
                </svg>
                <div class="relative px-6 py-12 md:py-24 lg:py-32 lg:px-8 lg:pr-0 z-30">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:col-span-2">
                        <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Particulier</p>
                        <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Hypothèque</h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Acheter un bien immobilier en Suisse est souvent un moment décisif pour les nouveaux propriétaires. C’est une étape importante qui nécessite une réflexion approfondie et une évaluation des risques et opportunités en fonction de, vos liquidités, votre prévoyance, l’impact de cet investissement.</p>
                        <div class="mt-10">
                            <a href="{{ path('app_booking') }}" class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-white bg-primary px-3.5 py-3 sm:py-4 rounded-full transition duration-100 hover:bg-primary-light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                                </svg>
                                Appelez-moi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="aspect-[3/2] object-cover lg:aspect-auto lg:size-full" src="{{ asset('media/website/hypotheque-assurance-genevoise.webp') }}" alt="Hypothèque pour les particuliers en Suisse, faite confiance à Assurance Genevoise">
        </div>
    </section>
    <section class="bg-white py-12 sm:py-28">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Confiance et Transparence</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl max-w-2xl mt-2">Pourquoi prendre une hypothèque ?</h2>
            <div class="mt-10 lg:mt-16 grid max-w-xl grid-cols-1 gap-8 text-base/7 text-gray-700 lg:max-w-none lg:grid-cols-2">
                <div class="space-y-5">
                    <p>La souscription d’un crédit hypothécaire est une solution stratégique pour <u class="underline-offset-4 underline">financer l’achat d’un bien immobilier tout en optimisant votre situation financière</u>. Que ce soit pour devenir propriétaire ou pour réévaluer vos conditions actuelles via une renégociation de taux, faire appel à nos experts vous garantit une analyse approfondie de vos besoins.</p>
                </div>
                <div class="space-y-5">
                    <p>Notre équipe vous aide à gagner du temps et à obtenir les conditions les plus avantageuses, maximisant ainsi vos opportunités financières tout en minimisant les risques.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-12 sm:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Question/Réponse</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl text-pretty max-w-xl mt-2">
                Vous avez des questions ? Nous avons les réponses !
            </h2>
            <div class="mt-20">
                <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Comment obtenir le meilleur financement pour votre projet immobilier ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            Avec un crédit hypothécaire personnalisé et une renégociation sur mesure, nos experts en courtage vous garantissent des taux ultra-compétitifs, sans frais supplémentaires. <u class="underline-offset-4 underline">Nous collaborons avec des partenaires de confiance, notamment :</u> les banques, les compagnies d’assurance, les caisses de pension.
                        </dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Quelles sont nos solutions pour financer votre projet immobilier ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            Nos solutions en matière d’hypothèque vous accompagnent dans la <u class="underline underline-offset-4">souscription d’un prêt hypothécaire adapté à vos besoins</u>. Que ce soit pour acquérir un bien immobilier ou optimiser votre fiscalité (fortune et revenu), nous vous aidons à évaluer les critères essentiels : le taux d’intérêt adapté, la durée optimale du crédit, les risques associés à anticiper
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-12 sm:py-20 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide text-center">Simplicité et rapidité</p>
            <h2 class="text-3xl font-semibold text-pretty tracking-tight text-gray-900 sm:text-4xl text-center mt-2">Votre couverture en 3 étapes</h2>
            <div class="mx-auto max-w-2xl mt-20 lg:max-w-none">
                <dl class="grid grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3">
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">01</p>
                            </div>
                            Contact avec un conseiller
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous échangeons ensemble pour comprendre votre situation, identifier vos besoins spécifiques et trouver les solutions adaptées.</p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">02</p>
                            </div>
                            Retour sous 24h
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous vous revenons sous 24h et vous communiquons généralement votre devis sous 48h après votre premier contact.</p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">03</p>
                            </div>
                            Signature des contrats
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous procédons à la signature d'un mandat de courtage gratuit et vous présentons les solutions de nos partenaires.</p>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="text-center mt-12">
                <a href="{{ path('app_booking') }}" class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-white bg-primary px-3.5 py-3 rounded-full transition duration-100 hover:bg-primary-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                    </svg>
                    Appelez-moi
                </a>
            </div>
        </div>
    </section>
    <section class="bg-white py-12 sm:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Assurance Genevoise</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl max-w-2xl mt-2">Pourquoi nous choisir ?</h2>
            <div class="mt-10 lg:mt-16 mx-auto max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Expertise personnalisée</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous analysons minutieusement vos besoins spécifiques pour vous offrir des solutions d’assurance sur mesure. Votre protection est au cœur de nos priorités, et nous veillons à ce que chaque détail soit pris en compte.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Accès à la plus large gamme d’assureurs</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Grâce à notre réseau de partenaires, nous comparons les meilleures offres du marché pour garantir un excellent rapport qualité-prix. Vous bénéficiez de solutions diversifiées et adaptées à votre budget.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Accompagnement de A à Z</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous sommes à vos côtés à chaque étape : de la souscription au suivi des sinistres. Notre engagement est de rendre vos démarches simples et efficaces tout en vous épargnant des tracas inutiles.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Relation de confiance et transparence</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous privilégions une relation durable et transparente avec nos clients, sans frais cachés ni promesses irréalistes. Votre satisfaction est notre meilleure récompense, et nous travaillons à mériter votre confiance chaque jour.
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    {% include 'components/helper.html.twig' %}
    <section>
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-6 lg:px-8">
            <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a href="{{ path('app_home') }}" class="text-gray-400 hover:text-gray-500 transition duration-100">
                                <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Accueil</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 font-primary transition duration-100">Particulier</p>
                        </div>
                    </li>
                    <li class="hidden sm:block">
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ path('app_individual_mortgage') }}"  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 transition duration-100" aria-current="page">Hypothèque</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}