{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <section class="relative bg-white max-w-7xl mx-auto">
        <div class="lg:absolute lg:inset-0 lg:left-1/2">
            <img class="h-64 w-full bg-gray-50 object-cover sm:h-80 lg:absolute lg:h-full rounded-3xl" src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=2560&h=3413&&q=80" alt="">
        </div>
        <div class="pb-24 pt-16 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
            <div class="px-6 lg:px-8">
                <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
                    {% for message in app.flashes('success') %}
                        <div class="rounded-md bg-green-50 p-4 mb-8">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3 text-sm font-medium text-green-800">
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Let's work together</h1>
                    <p class="mt-2 text-lg leading-8 text-gray-600">Proin volutpat consequat porttitor cras nullam gravida at orci molestie a eu arcu sed ut tincidunt magna.</p>
                    {{ form_start(form) }}
                        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 mt-16">
                            <div>
                                <label class="block font-semibold text-gray-900 text-sm">{{ form_label(form.firstName, 'Prénom') }}</label>
                                <div class="mt-2.5">
                                    {{ form_widget(form.firstName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div>
                                <label class="block font-semibold text-gray-900 text-sm">{{ form_label(form.lastName, 'Nom') }}</label>
                                <div class="mt-2.5">
                                    {{ form_widget(form.lastName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label class="block font-semibold text-gray-900 text-sm">{{ form_label(form.email, 'Email') }}</label>
                                <div class="mt-2.5">
                                    {{ form_widget(form.email, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div>
                                <div class="flex justify-between text-sm leading-6">
                                    <label class="block font-semibold text-gray-900">{{ form_label(form.society, 'Société') }}</label>
                                    <p id="message-description" class="text-gray-400">Optionel</p>
                                </div>
                                <div class="mt-2.5">
                                    {{ form_widget(form.society, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div>
                                <div class="flex justify-between text-sm leading-6">
                                    <label class="block font-semibold text-gray-900">{{ form_label(form.phoneNumber, 'Téléphone') }}</label>
                                    <p id="phone-description" class="text-gray-400">Optionel</p>
                                </div>
                                <div class="mt-2.5">
                                    {{ form_widget(form.phoneNumber, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label class="block font-semibold text-gray-900 text-sm">{{ form_label(form.subject, 'En quoi pouvons-nous vous aider ?') }}</label>
                                <div class="mt-2.5">
                                    {{ form_widget(form.subject, {'attr': {'rows':'4','class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <div class="flex justify-between leading-6 text-sm">
                                    <label class="block font-semibold text-gray-900">{{ form_label(form.message, 'Message') }}</label>
                                    <p id="phone-description" class="text-gray-400">Optionel</p>
                                </div>
                                <div class="mt-2.5">
                                    {{ form_widget(form.message, {'attr': {'rows':'4','class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6'}}) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2 flex items-center text-sm">
                                {{ form_widget(form.accept, {'attr': {'class' : 'h-4 w-4 rounded-md border-gray-900 border-2 text-primary focus:ring-primary'}}) }}
                                <label class="ml-3 block text-sm leading-6 text-gray-900">{{ form_label(form.accept, 'En cochant cette case, j\'accepte que les informations saisies soient utilisées dans le cadre de la prise de contact.') }}</label>
                            </div>
                        </div>
                        <div class="mt-10 flex justify-end border-t border-gray-900/10 pt-8">
                            <button type="submit" class="rounded-full bg-primary hover:bg-primary-light px-3.5 py-2.5 text-center text-sm font-semibold text-white focus-visible:outline">Envoyer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}