<!DOCTYPE html>
<html lang="fr" class="h-full bg-white">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Assurance Genevoise</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="https://assurance-genevoise.ch{% block url %}{% endblock %}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script defer src="https://unpkg.com/@alpinejs/ui@3.14.3-beta.0/dist/cdn.min.js"></script>
            <script defer src="https://unpkg.com/@alpinejs/focus@3.14.3/dist/cdn.min.js"></script>
            <script defer src="https://unpkg.com/alpinejs@3.14.3/dist/cdn.min.js"></script>
        {% endblock %}

        <link rel="icon" href="{{ asset('media/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('media/favicon/apple-touch-icon-120x120.png') }}">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:url" content="https://assurance-genevoise.ch{{ block('url') }}">
        <meta property="og:image" content="{% block ogImage %}{% endblock %}">
        <meta property="og:image:alt" content="{% block ogImageAlt %}{% endblock %}"/>
        <meta property="og:description" content="{{ block('description') }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:url" content="https://assurance-genevoise.ch{{ block('url') }}">
        <meta property="og:image" content="{{ asset('media/website/assurance-genevoise-banniere.webp') }}">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Assurance Genevoise"/>
        <meta property="og:language" content="fr"/>

        <!-- Twitter Meta Tags -->
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta property="twitter:url" content="https://assurance-genevoise.ch{{ block('url') }}">
        <meta name="twitter:image" content="{{ asset('media/website/assurance-genevoise-banniere.webp') }}">
        <meta property="twitter:domain" content="assurance-genevoise.ch">
        <meta name="twitter:card" content="summary_large_image">

        <!-- Schema.org -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Assurance Genevoise",
                "url": "https://assurance-genevoise.ch"
            }
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTHX58Q2Q2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date()); gtag('config', 'G-WTHX58Q2Q2');
        </script>

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W2LHJ782');
        </script>

        <!-- Cookieyes banner -->
        <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/7b4144754240a382eea49d4c/script.js"></script>
    </head>
    <body class="h-full">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2LHJ782" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        {% block body %}{% endblock %}
    </body>
</html>