<header class="z-50 relative bg-white" x-data="{ open: false }">
    <div class="bg-primary">
        <div class="h-10 items-center max-w-7xl mx-auto justify-between px-4 text-sm font-medium text-white sm:px-6 lg:px-8 hidden md:flex rounded-b-md">
            <div class="font-primary">
                <p><a href="tel:0227151745" class="font-primary hover:text-gray-100 transition duration-100">022 715 17 45</a> | <span class="font-secondary">Appel Gratuit  (Lun-Vend 09/18h)</span></p>
            </div>
            <div class="font-primary">
                <a href="{{ path('app_blog_list') }}" class="hover:text-gray-100 transition duration-100">Nos articles</a> | <a href="{{ path('app_faq') }}" class="hover:text-gray-100 transition duration-100">FAQ</a>
            </div>
        </div>
    </div>
    <nav class="mx-auto flex max-w-7xl items-center justify-between px-6 py-3 sm:p-6 lg:px-8 border-b border-b-gray-200" aria-label="Global">
        <div class="flex lg:flex-1 gap-10">
            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">Assurance Genevoise</span>
                <img class="h-6 w-auto" src="{{ asset('media/logo/logo.svg') }}" alt="Logo de Assurance Genevoise, expert en assurance et courtage à Genève">
            </a>
            <div x-popover:group class="hidden lg:flex lg:gap-x-8 items-center">
                <div class="relative" x-popover x-data x-menu>
                    <button x-menu:button type="button" class="inline-flex text-gray-900 items-center gap-x-1 text-sm font-semibold leading-6 hover:text-gray-600 transition font-primary duration-300" aria-expanded="false">
                        <span>Professionnel</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div x-cloak x-menu:items x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="absolute left-3/4 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
                        <div class="w-screen max-w-sm flex-auto overflow-hidden rounded-3xl bg-white text-sm/6 shadow-lg ring-1 ring-gray-900/5">
                            <div class="p-4">
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_pro_offer_company') }}" class="font-semibold text-gray-900">
                                            Entreprise
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Nos solutions de protection pour votre entreprise</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_pro_offer_international') }}" class="font-semibold text-gray-900">
                                            International
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Une protection complète, ici et ailleurs</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_pro_offer_liberal_profession') }}" class="font-semibold text-gray-900">
                                            Profession libérale
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Nos couvertures dédiées aux libéraux</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-gray-50">
                                <a href="{{ path('app_booking') }}" class="flex items-center justify-center gap-x-2.5 p-3 font-semibold text-gray-900 hover:bg-gray-100 duration-100 transition">
                                    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z" clip-rule="evenodd" />
                                    </svg>
                                    On vous rappelle gratuitement
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative" x-popover x-data x-menu>
                    <button x-menu:button type="button" class="inline-flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-gray-600 transition font-primary duration-300" aria-expanded="false">
                        <span>Particulier</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div x-cloak x-menu:items x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" class="absolute left-3/4 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
                        <div class="w-screen max-w-sm flex-auto overflow-hidden rounded-3xl bg-white text-sm/6 shadow-lg ring-1 ring-gray-900/5">
                            <div class="p-4">
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_insurance') }}" class="font-semibold text-gray-900">
                                            Assurances
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Des solutions de protection sur mesure</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_offer_border') }}" class="font-semibold text-gray-900">
                                            Frontalier
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Une couverture adaptée à vos besoins</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_taxation') }}" class="font-semibold text-gray-900">
                                            Fiscalité
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Maitrisez vos finances avec agilité</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_health') }}" class="font-semibold text-gray-900">
                                            Santé
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Protégez-vous avec nos solutions santée</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_mortgage') }}" class="font-semibold text-gray-900">
                                            Hypothèque
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Accélérez vos projets avec nos solutions sur mesure</p>
                                    </div>
                                </div>
                                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50 transition duration-100">
                                    <div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                        <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.712 4.33a9.027 9.027 0 0 1 1.652 1.306c.51.51.944 1.064 1.306 1.652M16.712 4.33l-3.448 4.138m3.448-4.138a9.014 9.014 0 0 0-9.424 0M19.67 7.288l-4.138 3.448m4.138-3.448a9.014 9.014 0 0 1 0 9.424m-4.138-5.976a3.736 3.736 0 0 0-.88-1.388 3.737 3.737 0 0 0-1.388-.88m2.268 2.268a3.765 3.765 0 0 1 0 2.528m-2.268-4.796a3.765 3.765 0 0 0-2.528 0m4.796 4.796c-.181.506-.475.982-.88 1.388a3.736 3.736 0 0 1-1.388.88m2.268-2.268 4.138 3.448m0 0a9.027 9.027 0 0 1-1.306 1.652c-.51.51-1.064.944-1.652 1.306m0 0-3.448-4.138m3.448 4.138a9.014 9.014 0 0 1-9.424 0m5.976-4.138a3.765 3.765 0 0 1-2.528 0m0 0a3.736 3.736 0 0 1-1.388-.88 3.737 3.737 0 0 1-.88-1.388m2.268 2.268L7.288 19.67m0 0a9.024 9.024 0 0 1-1.652-1.306 9.027 9.027 0 0 1-1.306-1.652m0 0 4.138-3.448M4.33 16.712a9.014 9.014 0 0 1 0-9.424m4.138 5.976a3.765 3.765 0 0 1 0-2.528m0 0c.181-.506.475-.982.88-1.388a3.736 3.736 0 0 1 1.388-.88m-2.268 2.268L4.33 7.288m6.406 1.18L7.288 4.33m0 0a9.024 9.024 0 0 0-1.652 1.306A9.025 9.025 0 0 0 4.33 7.288" />
                                        </svg>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_individual_health_insurance') }}" class="font-semibold text-gray-900">
                                            Prévoyance
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="mt-1 text-gray-600">Anticipez l'avenir avec nos solutions de prévoyance</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-gray-50">
                                <a href="{{ path('app_booking') }}" class="flex items-center justify-center gap-x-2.5 p-3 font-semibold text-gray-900 hover:bg-gray-100 duration-100 transition">
                                    <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z" clip-rule="evenodd" />
                                    </svg>
                                    On vous rappelle gratuitement
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_contact') }}" class="text-sm relative font-semibold leading-6 text-gray-900 hover:text-gray-600 transition duration-300">Contact</a>
            </div>
        </div>
        <div class="flex lg:hidden gap-6">
            <div class="bg-gray-50 rounded-full p-2.5 border border-gray-100" id="phone-header">
                <a href="tel:0227151745" class="text-sm font-semibold leading-6 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <button type="button" @click="open = !open" class="-m-2.5 inline-flex items-center text-gray-900">
                <span class="sr-only">Open main menu</span>
                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-5">
            <div class="hidden lg:flex items-center divide-x divide-gray-300" id="nav-support">
                <a href="{{ path('app_assistance') }}" class="text-sm font-semibold leading-6 text-gray-900 px-2 hover:text-gray-600 transition duration-100">Sinistre & Assistance</a>
                <a href="{{ path('app_login') }}" class="flex items-center gap-x-2 text-sm font-semibold leading-6 text-gray-900 px-2 hover:text-gray-600 transition duration-100">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    Compte client
                </a>
            </div>
            <a href="{{ path('app_booking') }}" class="flex items-center gap-x-2 text-sm font-semibold leading-6 text-white bg-primary px-3.5 py-3 rounded-full transition duration-100 hover:bg-primary-light">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                </svg>
                Appelez-moi
            </a>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true" x-show="open" @click.away="open = false">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                    <span class="sr-only">Assurance Genevoise</span>
                    <img class="h-6 w-auto" src="{{ asset('media/logo/logo.svg') }}" alt="Logo de Assurance Genevoise, professionnel de l'assurance à Genève pour pro et particulier">
                </a>
                <button type="button" @click="open = false" class="-m-2.5 items-center text-gray-900">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <div class="-mx-3" x-data="{ open: false }">
                            <button type="button" class="flex w-full font-primary items-center justify-between rounded-lg px-3 py-2 pr-3.5 text-base font-semibold text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false" @click="open = !open">
                                Professionnel
                                <svg :class="{'rotate-180': open}" class="h-5 w-5 flex-none transition-transform duration-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <div class="mt-2 space-y-2" id="disclosure-1" x-show="open">
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_pro_offer_company') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Entreprise</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_pro_offer_international') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">International</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_pro_offer_liberal_profession') }}"  class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Profession libérale</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="-mx-3" x-data="{ open: false }">
                            <button type="button" class="flex w-full font-primary items-center justify-between rounded-lg px-3 py-2 pr-3.5 text-base font-semibold text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false" @click="open = !open">
                                Particulier
                                <svg :class="{'rotate-180': open}" class="h-5 w-5 flex-none transition-transform duration-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <div class="mt-2 space-y-2" id="disclosure-1" x-show="open">
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_insurance') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Assurances</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_offer_border') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Frontalier</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_taxation') }}"  class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Fiscalité</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_health') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Santé</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_mortgage') }}" class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Hypothéque</p>
                                    </a>
                                </div>
                                <div class="group block rounded-lg py-2 pl-6 pr-3 hover:bg-gray-50 items-center transition duration-100">
                                    <a href="{{ path('app_individual_health_insurance') }}"  class="flex gap-x-3 items-center">
                                        <div class="flex h-11 w-11 items-center justify-center rounded-lg bg-gray-50 group-hover:bg-primary">
                                            <svg class="h-6 w-6 text-gray-600 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.712 4.33a9.027 9.027 0 0 1 1.652 1.306c.51.51.944 1.064 1.306 1.652M16.712 4.33l-3.448 4.138m3.448-4.138a9.014 9.014 0 0 0-9.424 0M19.67 7.288l-4.138 3.448m4.138-3.448a9.014 9.014 0 0 1 0 9.424m-4.138-5.976a3.736 3.736 0 0 0-.88-1.388 3.737 3.737 0 0 0-1.388-.88m2.268 2.268a3.765 3.765 0 0 1 0 2.528m-2.268-4.796a3.765 3.765 0 0 0-2.528 0m4.796 4.796c-.181.506-.475.982-.88 1.388a3.736 3.736 0 0 1-1.388.88m2.268-2.268 4.138 3.448m0 0a9.027 9.027 0 0 1-1.306 1.652c-.51.51-1.064.944-1.652 1.306m0 0-3.448-4.138m3.448 4.138a9.014 9.014 0 0 1-9.424 0m5.976-4.138a3.765 3.765 0 0 1-2.528 0m0 0a3.736 3.736 0 0 1-1.388-.88 3.737 3.737 0 0 1-.88-1.388m2.268 2.268L7.288 19.67m0 0a9.024 9.024 0 0 1-1.652-1.306 9.027 9.027 0 0 1-1.306-1.652m0 0 4.138-3.448M4.33 16.712a9.014 9.014 0 0 1 0-9.424m4.138 5.976a3.765 3.765 0 0 1 0-2.528m0 0c.181-.506.475-.982.88-1.388a3.736 3.736 0 0 1 1.388-.88m-2.268 2.268L4.33 7.288m6.406 1.18L7.288 4.33m0 0a9.024 9.024 0 0 0-1.652 1.306A9.025 9.025 0 0 0 4.33 7.288" />
                                            </svg>
                                        </div>
                                        <p class="text-sm/7 font-semibold text-gray-900">Prévoyance</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('app_contact') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 transition duration-100">Contactez-nous</a>
                    </div>
                    <div class="space-y-2 py-6">
                        <a href="{{ path('app_blog_list') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 transition duration-100">Blog / Acutalités</a>
                        <a href="{{ path('app_assistance') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 transition duration-100">Sinistre & Assistance</a>
                        <a href="{{ path('app_login') }}" class="-mx-3 flex items-center gap-2.5 rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 transition duration-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            Compte client
                        </a>
                    </div>
                    <div class="py-6 text-center space-y-5">
                        <a href="{{ path('app_booking') }}" class="-mx-3 flex items-center justify-center gap-x-2.5 rounded-full px-3 py-2.5 text-white bg-primary hover:bg-primary-light font-semibold leading-7 transition duration-100">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                            </svg>
                            On vous rappelle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>