{% extends 'base.html.twig' %}

{% block title %}Assurance RC Ménage en Suisse{% endblock %}
{% block description %}Assurez votre responsabilité civile pour votre ménage. Assurance Genevoise offre des solutions sur mesure pour couvrir les dommages causés à des tiers depuis votre domicile.{% endblock %}
{% block url %}{{ path('app_individual_insurance_household_liability') }}{% endblock %}

{% block ogImage %}{{ asset('media/website/assurance-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Assurance Genevoise, assurance RC ménage en Suisse{% endblock %}

{% block body %}
    <section class="relative z-40">
        <div class="mx-auto max-w-7xl">
            <div class="relative z-10 lg:w-full lg:max-w-2xl">
                <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <polygon points="0,0 90,0 50,100 0,100" />
                </svg>
                <div class="relative px-6 py-12 md:py-24 lg:py-32 lg:px-8 lg:pr-0 z-30">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:col-span-2">
                        <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Particulier</p>
                        <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Assurance RC Ménage</h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Vous devenez locataire ou propriétaire, d’un bien immobilier ? Nos courtiers spécialisés vous conseillent pour la souscription d’une RC Ménage.</p>
                        <div class="mt-10">
                            <a href="{{ path('app_booking') }}" class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-white bg-primary px-3.5 py-3 sm:py-4 rounded-full transition duration-100 hover:bg-primary-light">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                                </svg>
                                Appelez-moi
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="aspect-[3/2] object-cover lg:aspect-auto lg:size-full" src="{{ asset('media/website/prevoyance-particulier-assurance-genevoise.webp') }}" alt="Assurance RC et Menage en Suisse pour les particuliers, faite confiance à Assurance Genevoise votre courtier en assurance">
        </div>
    </section>
    <section class="bg-white py-12 sm:py-28">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Confiance et Transparence</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl max-w-2xl mt-2">Pourquoi prendre une assurance RC et ménage ?</h2>
            <div class="mt-10 lg:mt-16 grid max-w-xl grid-cols-1 gap-8 text-base/7 text-gray-700 lg:max-w-none lg:grid-cols-2">
                <div class="space-y-5">
                    <p>La RC est souvent associée ou incluse à une assurance ménage. Cette combinaison est appelée RC Ménage. Il existe de multiples offres sur le marché et les prestations sont variables en fonction des polices d’assurance.</p>
                </div>
                <div class="space-y-5">
                    <p>Il peut être très avantageux de solliciter nos courtiers spécialisés afin d’assurer au mieux tous vos biens et vous prémunir financièrement face aux risques du quotidien. <u class="underline underline-offset-4">La prime étant relativement peu élevée, la RC Ménage peut vous éviter de nombreuses complications et difficulté</u>.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-12 sm:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Question/Réponse</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl text-pretty max-w-xl mt-2">
                Vous avez des questions ? Nous avons les réponses !
            </h2>
            <div class="mt-20">
                <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Que couvre une assurance ménage ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            Bien que l’assurance ménage soit facultative en Suisse, <u class="underline-offset-4 underline">elle est fortement recommandée pour couvrir les coûts importants pouvant découler de situations imprévues</u>, telles que : les dégâts survenant dans votre lieu de vie, les dommages subis par vos biens matériels.
                            Cette assurance protège vos effets personnels, l’ameublement, les appareils électroménagers et électroniques de votre habitation contre le dégât des eaux d’origine humaine, le vol par effraction, les bris de glace, ainsi que les dommages causés par les éléments naturels (inondations, etc.) et les incendies. Notez que dans certains cantons, elle est obligatoire.
                        </dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Une assurance Responsabilité Civile (RC) est-elle obligatoire ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            L’assurance responsabilité civile, ou RC, <u class="underline-offset-4 underline">est un complément essentiel à votre assurance ménage</u>. Elle couvre les dommages matériels ou corporels que vous ou les membres de votre foyer (selon votre police d’assurance) pourriez causer à des tiers.
                            Bien que généralement non obligatoire, la RC est fortement recommandée et souvent exigée par la plupart des gérances immobilières ou des propriétaires pour la location d’un appartement.
                        </dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Que se passe-t-il si vous commettez un grave dommage à un tiers sans RC ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            Si vous n’avez pas souscrit de RC, <u class="underline-offset-4 underline">vous serez financièrement responsable des dégâts causés à autrui</u>, à hauteur de vos revenus actuels et futurs ainsi que de votre fortune personnelle.
                            La RC indemnise à la valeur vénale, c’est-à-dire la valeur réelle de l’objet au moment du sinistre. En revanche, l’assurance ménage assure le mobilier à sa valeur à neuf.
                        </dd>
                    </div>
                    <div>
                        <dt class="text-base font-semibold leading-7 text-gray-900 font-primary"><span aria-hidden="true">&rarr;</span> Peut-on souscrire à une assurance ménage pour plusieurs personnes ?</dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            L’assurance ménage couvre la personne mentionnée sur le contrat ainsi que les personnes vivant dans le même foyer, même si elles séjournent temporairement ailleurs durant la semaine. Elle peut inclure :<br/>
                            • Le conjoint, concubin, ou partenaire enregistré<br/>
                            • Les enfants majeurs des assurés s’ils n’ont pas d’activité lucrative (le salaire des apprentis ou le revenu accessoire des étudiants ne sont pas considérés comme des revenus lucratifs)<br/>
                            • Les personnes mineures, même si elles séjournent temporairement chez le preneur d’assurance
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-12 sm:py-20 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide text-center">Simplicité et rapidité</p>
            <h2 class="text-3xl font-semibold text-pretty tracking-tight text-gray-900 sm:text-4xl text-center mt-2">Votre couverture en 3 étapes</h2>
            <div class="mx-auto max-w-2xl mt-20 lg:max-w-none">
                <dl class="grid grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3">
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">01</p>
                            </div>
                            Contact avec un conseiller
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous échangeons ensemble pour comprendre votre situation, identifier vos besoins spécifiques et trouver les solutions adaptées.</p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">02</p>
                            </div>
                            Retour sous 24h
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous vous revenons sous 24h et vous communiquons généralement votre devis sous 48h après votre premier contact.</p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <div class="bg-primary rounded-full px-3 py-2">
                                <p class="text-white">03</p>
                            </div>
                            Signature des contrats
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">Nous procédons à la signature d'un mandat de courtage gratuit et vous présentons les solutions de nos partenaires.</p>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="text-center mt-12">
                <a href="{{ path('app_booking') }}" class="inline-flex items-center gap-x-2 text-sm font-semibold leading-6 text-white bg-primary px-3.5 py-3 rounded-full transition duration-100 hover:bg-primary-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                    </svg>
                    Appelez-moi
                </a>
            </div>
        </div>
    </section>
    <section class="bg-white py-12 sm:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Assurance Genevoise</p>
            <h2 class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl max-w-2xl mt-2">Pourquoi nous choisir ?</h2>
            <div class="mt-10 lg:mt-16 mx-auto max-w-2xl lg:max-w-none">
                <dl class="grid grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-2">
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Expertise personnalisée</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous analysons minutieusement vos besoins spécifiques pour vous offrir des solutions d’assurance sur mesure. Votre protection est au cœur de nos priorités, et nous veillons à ce que chaque détail soit pris en compte.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Accès à la plus large gamme d’assureurs</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Grâce à notre réseau de partenaires, nous comparons les meilleures offres du marché pour garantir un excellent rapport qualité-prix. Vous bénéficiez de solutions diversifiées et adaptées à votre budget.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Accompagnement de A à Z</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous sommes à vos côtés à chaque étape : de la souscription au suivi des sinistres. Notre engagement est de rendre vos démarches simples et efficaces tout en vous épargnant des tracas inutiles.
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col bg-gray-50 p-8 rounded-2xl border border-gray-100">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900 font-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10 text-primary">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                            </svg>
                            <h3>Relation de confiance et transparence</h3>
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto">
                                Nous privilégions une relation durable et transparente avec nos clients, sans frais cachés ni promesses irréalistes. Votre satisfaction est notre meilleure récompense, et nous travaillons à mériter votre confiance chaque jour.
                            </p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>
    {% include 'components/helper.html.twig' %}
    <section>
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-6 lg:px-8">
            <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a href="{{ path('app_home') }}" class="text-gray-400 hover:text-gray-500 transition duration-100">
                                <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Accueil</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 font-primary transition duration-100">Particulier</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ path('app_individual_insurance') }}"  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">Assurance</a>
                        </div>
                    </li>
                    <li class="hidden sm:block">
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ path('app_individual_insurance_household_liability') }}"  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 transition duration-100" aria-current="page">Assurance RC Ménage</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}