{% extends 'base.html.twig' %}

{% block title %}Assurances pour Particulier en Suisse{% endblock %}
{% block description %}Découvrez des solutions d’assurances sur mesure pour protéger vos biens, vos proches et préparer sereinement votre avenir avec Assurance Genevoise.{% endblock %}
{% block url %}{{ path('app_pro_offer_company_group_contract') }}{% endblock %}

{% block ogImage %}{{ asset('media/website/assurance-genevoise-banniere.webp') }}{% endblock %}
{% block ogImageAlt %}Assurance Genevoise, assurances pour particulier en Suisse{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Particulier</p>
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Assurances</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Des solutions d'assurances adaptées pour protéger vos biens, vos proches et votre avenir.</p>
            </div>
            <div class="mx-auto grid max-w-2xl auto-rows-fr grid-cols-1 md:grid-cols-2 gap-8 mt-12 lg:mt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_property') }}">
                                <span class="absolute inset-0"></span>
                                Assurance de choses et de patrimoine
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Protection complète pour vos biens et votre avenir.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_household_liability') }}">
                                <span class="absolute inset-0"></span>
                                Assurance RC ménage
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Couvrez votre responsabilité pour un foyer serein.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_animals') }}">
                                <span class="absolute inset-0"></span>
                                Assurance animaux
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Protégez la santé et le bien-être de vos animaux.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_motor_vehicle') }}">
                                <span class="absolute inset-0"></span>
                                Assurance véhicule à moteur
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Assurez votre véhicule pour rouler en toute sécurité.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_legal_protection') }}">
                                <span class="absolute inset-0"></span>
                                Assurance protection juridique
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Bénéficiez d’un soutien légal en cas de litige.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_domestic_worker') }}">
                                <span class="absolute inset-0"></span>
                                Assurance employé de maison
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Protégez vos employés et sécurisez votre domicile.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_travel') }}">
                                <span class="absolute inset-0"></span>
                                Assurance voyage
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Voyagez sereinement avec une couverture complète.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
                <div class="group relative isolate flex flex-col justify-between overflow-hidden bg-gray-50 hover:bg-white border border-gray-100 hover:border-primary rounded-3xl p-8 transition duration-100">
                    <div>
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-primary mb-10">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                            </svg>
                        </div>
                        <h2 class="text-2xl font-semibold leading-8 text-gray-900">
                            <a href="{{ path('app_individual_insurance_building_liability') }}">
                                <span class="absolute inset-0"></span>
                                Assurance RC immeuble et bâtiment
                            </a>
                        </h2>
                        <p class="text-gray-600 mt-4">Protégez votre bâtiment contre tous les imprévus.</p>
                    </div>
                    <p class="font-semibold text-primary text-sm mt-3">Découvrir nos offres <span aria-hidden="true">&rarr;</span></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 py-6 lg:px-8">
            <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a href="{{ path('app_home') }}" class="text-gray-400 hover:text-gray-500 transition duration-100">
                                <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Accueil</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 font-primary transition duration-100">Particulier</p>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                            <a href="{{ path('app_individual_insurance') }}"  class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">Assurance</a>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}