{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.summary }}{% endblock %}
{% block url %}{% endblock %}

{% block body %}
    <section class="bg-white py-14 lg:py-20">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto lg:mx-0 grid grid-cols-1 lg:grid-cols-3 md:gap-x-12">
                <div class="md:col-span-2">
                    <img src="{{ asset('media/blog/'~post.mainPhoto) }}" alt="{{ post.altMainPhoto }}" class="object-cover w-full aspect-video rounded-3xl mb-10"/>
                    <p class="text-sm font-semibold leading-7 text-primary uppercase tracking-wide">Publiée le  <time datetime="{{ post.createdAt | date('d F Y') }}">{{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time></p>
                    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl text-pretty">{{ post.title }}</h1>
                    <div class="flex items-center gap-3 mt-7">
                        <img src="{{ asset('media/editor/'~post.authorProfilePhoto) }}" alt="Photo de profil du rédacteur de l'article"  class="h-9 w-9 flex-none rounded-full bg-white/10">
                        <p class="text-gray-600">Article rédigé par {{ post.authorName }}</p>
                    </div>
                    <div class="text-lg mt-16 sm:mt-20 text-gray-900">
                        {{ post.content | raw }}
                    </div>
                    <div class="mt-10 flex gap-2 items-center border-t border-gray-100 pt-5">
                            <p>Categorie :</p>
                            <p class="bg-gray-50 inline-block rounded-full text-gray-800 text-sm px-4 py-1.5 border border-gray-100">{{ post.category.name }}</p>
                    </div>
                </div>
                <aside class="hidden lg:block">
                    <div class="bg-gray-50 border border-gray-100 p-8 lg:sticky lg:top-6 rounded-2xl">
                        <p class="font-semibold text-lg text-center font-primary">Vous avez un besoin ?</p>
                        <p class="text-center mt-2">Nous vous rappelons gratuitement pour répondre à vos questions.</p>
                        <div class="mx-auto w-full mt-5">
                            <a href="{{ path('app_booking') }}" class="text-center block text-sm font-semibold leading-6 text-white bg-primary px-2.5 py-2.5 rounded-full transition duration-100 hover:bg-primary-light">On vous rappelle <span aria-hidden="true">&rarr;</span></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <section class="pb-20 sm:pt-8 sm:pb-32">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto lg:mx-0 grid grid-cols-1 lg:grid-cols-3 md:gap-x-12">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900">Continuez votre lecture</h1>
            </div>
            <div class="mx-auto mt-14 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                {% for post in recommendedPosts %}
                    <article class="relative isolate flex rounded-3xl flex-col justify-end overflow-hidden bg-gray-900 px-8 pb-8 pt-48 lg:pt-80">
                        <img src="{{ asset('media/blog/'~post.mainPhoto) }}" alt="{{ post.altMainPhoto }}" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                        <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
                            <time datetime="{{ post.createdAt | date('d F Y') }}" class="mr-8 capitalize">{{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time>
                            <div class="-ml-4 flex items-center gap-x-4">
                                <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
                                    <circle cx="1" cy="1" r="1" />
                                </svg>
                                <div class="flex gap-x-2.5">
                                    <img src="{{ asset('media/editor/'~post.authorProfilePhoto) }}" alt="Photo de profil du rédacteur de l'article" class="h-6 w-6 flex-none rounded-full bg-white/10">
                                    {{ post.authorName }}
                                </div>
                            </div>
                        </div>
                        <h2 class="mt-3 text-lg font-semibold leading-6 text-white">
                            <a href="{{ path('app_blog_post', {'slug': post.slug }) }}">
                                <span class="absolute inset-0"></span>
                                {{ post.title }}
                            </a>
                        </h2>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
